<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cages</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body name="bdy" id="bdy" style="background-image: url('/static/lifs.jpg');" class="bg-gray-100 font-sans leading-normal tracking-normal">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>

  <div class="container mx-auto">
    <div class="flex justify-center mt-10">
      <h1 class="text-3xl font-semibold text-white">Cages</h1>
    </div>

    <div class="flex justify-center mt-8">
        <div class="justify-center">
          <a href="/" class="w-full bg-white text-black py-2 px-4 rounded-md hover:bg-white-600">Animals</a>
          <a href="/caregivers" class="w-full bg-white text-black py-2 px-4 rounded-md hover:bg-white-600">Caregivers</a>
        </div>
      </div>

    <!-- Table to display animals -->
    <div class="flex justify-center mt-8">
        <div style="opacity: 0.93;" class="w-1/2 bg-white shadow-md rounded-lg p-8">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">All cages</h2>
          <table class="w-full">
            <thead>
              <tr>
                <th class="px-4 py-2">Cage Name</th>
                <th class="px-4 py-2">Cleaning days</th>
                <th class="px-4 py-2">Cleaning hours</th>
                <th class="px-4 py-2">Edit/Delete</th>
              </tr>
            </thead>
            <tbody id="cagesTableBody" hx-get="/get_cages" hx-trigger="load, add_cage from:body">
              <!-- Cages data will be dynamically inserted here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-5">
        <div style="opacity: 0.93;" class="w-1/2 bg-white shadow-md rounded-lg p-8">
          <form id="cagesForm" hx-post="/add_cage" hx-swap="none" class="space-y-4">
            <div>
              <label for="cageName" class="inputLabel">Cage Name:</label>
              <input type="text" id="cageName" name="cageName" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter cage name">
            </div>
            <div>
              <label for="cleaning_days" class="inputLabel">Cleaning days</label>
              <input type="text" id="cleaning_days" name="cleaning_days" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter days of week when cage is cleaned">
            </div>
            <div>
              <label for="cleaning_time" class="inputLabel">Cleaning hours</label>
              <input type="time" id="cleaning_time" name="cleaning_time" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter what time is cage cleaned">
            </div>
            <div>
              <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Add cage</button>
            </div>
          </form>
        </div>
      </div>

  
    
  
  </body>
  </html>