<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoo Database</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body name="bdy" id="bdy" style="background-image: url('/static/lifs.jpg');" class="bg-gray-100 font-sans leading-normal tracking-normal">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>

  <div class="container mx-auto">
    <div class="flex justify-center mt-10">
      <h1 class="text-3xl font-semibold text-white">Edit Animal</h1>
    </div>

    <div class="flex justify-center mt-5">
        <div style="opacity: 0.93;" class="w-1/2 bg-white shadow-md rounded-lg p-8">
          <form id="zooForm" hx-post="/edit/$animal_id" hx-swap="none" class="space-y-4">
            <div>
              <label for="animalName" class="inputLabel">Animal Name:</label>
              <input type="text" id="animalName" value="$animalName" name="animalName" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter animal name">
            </div>
            <div>
              <label for="species" class="inputLabel">Species:</label>
              <input type="text" id="species" name="species" value="$species" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter species">
            </div>

            <div>
              <label for="origin_country" class="inputLabel">Origin Country:</label>
              <input type="text" id="origin_country" name="origin_country" value="$origin_country" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter origin country">
            </div>
  
            <div>
              <label for="birth_date" class="inputLabel">Birth Date:</label>
              <input type="text" id="birth_date" name="birth_date" value="$birth_date" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter birth date">
            </div>
  
            <div>
              <label for="food" class="inputLabel">Food:</label>
              <input type="text" id="food" name="food" value="$food" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter food">
            </div>
  
            <div>
              <label for="feeding_time" class="inputLabel">Feeding Time:</label>
              <input type="text" id="feeding_time" value="$feeding_time" name="feeding_time" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter feeding time">
            </div>
  
            <div>
              <label for="last_cleaning" class="inputLabel">Last Cleaning:</label>
              <input type="text" id="last_cleaning" name="last_cleaning" value="$last_cleaning" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter last cleaning">
            </div>
  
            <div>
              <label for="caregiver_key" class="inputLabel">Caregiver</label>
              <select type="number" id="caregiver_key" value="$caregiver_key" name="caregiver_key" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter caregiver key">
                <!--$caregiver_key-->
              </select>
                
            </div>
  
            <div>
              <label for="cage_key" class="inputLabel">Cage</label>
              <select type="number" id="cage_key" name="cage_key" value="$cage_key" class="w-full mt-1 p-2 border rounded-md" placeholder="Enter cage key">
                <!--$cages Options-->
              </select>
            </div>

            <div class="flex justify-center m-5">
              <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md">Edit Animal</button>
            </div>

          </form>
        </div>

      </div>

      <!-- Delete button -->
      <div class="flex justify-center m-5">
        <button type="submit" hx-post="/delete/$animal_id" class="w-1/8 bg-red-500 text-white py-2 px-4 rounded-md">Delete Animal</button>
      </div>
    </div>
  
    
  
  </body>
  </html>

